@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}



<div class="wrapper">
    <h2>Reset Password</h2>
    <form asp-action="SendEmail" method="post">
    
        <div class="input-box">
            <input asp-for="Email" type="text" placeholder="Enter your email" required>
        </div>
 
        <div class="input-box button">
            <input type="Submit" value="SendEmail">
        </div>
        
    </form>
</div>
